<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign In</title>
  {% include 'core/seed.html' %}

  <link rel="stylesheet" href="/static/css/signin.css">
</head>

<body class="text-center">
  <div class="form-container">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <img class="mb-4" src="/static/img/ncaaf_logo_bold.svg" alt="" width="200" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required=""
        autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control mt-2" placeholder="Password"
        required="">
      <input type="hidden" name="next" value="{{ next }}" />
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
      <!-- <p class="mt-5 mb-3 text-muted">Put Help Links Here</p> -->
    </form>
  </div>
</body>

</html>