{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    {% if validlink %}
        <h4>Set password</h4>
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_messages %}
                {% bootstrap_form_errors form %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Set Password</button>
                {% endbuttons %}
            </form>
        </div>

    {% else %}
        <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
        </p>
    {% endif %}

{% endblock %}

