{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Change Password{% endblock %}
{% block content %}

<div class="row">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_messages %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary" name="save">Save</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
