{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    <h4>Reset Password Instructions Sent</h4>
    <p>
        We've emailed you instructions for setting your password.  If an account exists with the email you entered,
        you should receive the instructions shortly.
    </p>
    <p>
        If you don't receive an email, please make sure you've entered the email address on record for this site.
        Also check your spam folder.
    </p>
{% endblock %}

