{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </p>

{% endblock %}

