{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    <h4>Reset Password</h4>
    <p>This will email directions for resetting your password.</p>
    <div class="col-sm-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_messages %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Reset Password</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

