{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Edit Profile{% endblock %}
{% block content %}

<form action="" method="post" enctype="multipart/form-data" style="font-size: x-small">
  {% csrf_token %}
  {% bootstrap_messages %}
  {% bootstrap_form_errors form %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 mb-5">
      <div class="card">
        <img src="{{ user.profile.image.url }}" class="card-img-top img-responsive" alt="Profile Image" style="height: auto;">
        <div class="card-body">
          <h5 class="card-title">Update Profile Picture</h5>
          {% bootstrap_field form.image %}
          {% buttons %}
          <button type="submit" class="btn btn-primary" name="save">Save</button>
          {% endbuttons %}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <b>Other Profile Stuff</b>
      <p>Short name (up to 4 characters) used to display at the top of the leaderboard and other
        pages to make the columns fit better onto phone-sized screens.
        {% bootstrap_field form.short_name %}</p>
      <p>Mobile phone number to receive texts.
        {% bootstrap_field form.mobile_phone %}</p>
      <p>Picks will automatically close one hour prior to kickoff for weekday games, and Friday at 5pm
        for Friday night and weekend games. If time is getting close and you've still not made
        all your picks, would you like to:
      </p>
      {% bootstrap_field form.text_reminder %}
      {% bootstrap_field form.auto_pick %}
      {% buttons %}
      <button type="submit" class="btn btn-primary" name="save">Save</button>
      {% endbuttons %}
    </div>
  </div>
</form>

{% endblock %}