<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>

    {% include 'core/seed.html' %}

    {% block head %}{% endblock %}

</head>

<body>
  {% include 'core/nav.html' %}
  {% block hero %}{% endblock %}
  <div class="container main p-2 m-2">
    <div class="container p-0 m-0 center">
      <h5 class="mb-2">{% block ribbon_title %}{% endblock %}</h5>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

</html>