<nav class="navbar navbar-expand-md navbar-light bg-light navbar-custom">
  <div class="container p-2 m-2">
    <a class="navbar-brand" href="/pool/home/">
      <img src="/static/img/ncaaf_logo_bold.svg" width="80" alt="">
    </a>
  <!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!--
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    -->
    <ul class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == '/pool/week/' %}active{% endif %}">
          <a class="nav-link" href="/pool/week/">This Week</a>
        </li>
        <li class="nav-item {% if request.path == '/pool/picks/' %}active{% endif %}">
          <a class="nav-link" href="/pool/picks/">Make Picks</a>
        </li>
        <li class="nav-item {% if request.path == '/pool/leaderboard/' %}active{% endif %}">
          <a class="nav-link" href="/pool/leaderboard/">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pool/card/">Scorecard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats/batch_runner?job=export">Export</a>
        </li>
        <li class="nav-item {% if '/member/' in request.path %}active{% endif %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/member/profile">Update Profile</a>
            <a class="dropdown-item" href="/member/password">Change Password</a>
          </ul>

        {% if user.is_superuser or user.is_commissioner %}
        <li class="nav-item {% if request.path == '/pool/matchups/' or request.path == '/pool/pool_tools/' %}active{% endif %} dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_superuser %}
            <a class="dropdown-item" href="/pool/pool_tools">Tools</a>
            <a class="dropdown-item" href="/admin">Admin</a>
            {% endif %}
            <a class="dropdown-item" href="/pool/matchups">Select Matchups</a>
            <a class="dropdown-item" href="/pool/picks/?on_behalf=True&username=">Make Picks on Behalf Of</a>




        {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/stats/batch_runner?job=load_matchup&id=">Load Single Matchup</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=update_matchups">Update Matchups</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=flip_matchups">Flip Matchups</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=notify_picks">Notify Picks</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=calc_stats">Calc Stats</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=make_picks">Create Empty Picks</a>
            <a class="dropdown-item" href="/stats/batch_runner?job=export">Export to Excel</a>
        {% endif %}
        </ul>

        </li>

        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/pool/logout">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/member/login">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>