{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block head %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').each(function(){
            $(this).carousel({
                interval: false
            });
        });
    });
    </script>

    <style>
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        outline: black;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 100%, 100%;
        border-radius: 50%;
        position: absolute;
        top: 20px;
    }

    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;
        font-size: 12px;
    }
    </style>

{% endblock %}

{% block content %}

    <div class="container">
<div class="row">
<div class="col">
    <h4>About the College Football Pool site!</h4>
</div>
</div>

<div class="row">
<div class="col">

    <h5>Background</h5>
    <p>
        I started my career as a Java developer, but spent most of my time in technology management.
        While I enjoyed managing teams, I always longed to get back into software engineering as
        an individual contributor.  After retiring from Bank of America in April, 2021 I took some time
        for myself and then began to prepare for the next phase of my career.  I took numerous online courses
        and then built this site to help bring it all together (see <a href="#techUsed">Tech Used</a> below).
    </p>
    <p>
        I'm in a group of eight friends and family that participate in an annual college football contest.
        We each put in $25 and the season winner takes home the full $200. For years we emailed Excel
        files around to make this happen.  This site eliminates the need for Excel and all the emails.
    </p>
    <h5>College Football Pool</h5>
    <p>
        In our pool we pick against the opening line
        (aka <a href="https://en.wikipedia.org/wiki/Spread_betting"
                target="_blank">spread<img src="https://i.stack.imgur.com/IadAX.png"
                                           style="height: 10px; vertical-align:text-after-edge"/></a>).
        Each week the pool commissioner selects ~20 games for that week's competition.  The opening
        lines are gathered from an online sports book.  Each player in the pool then has until Friday at 5pm
        to make his/her picks for each game.  For weekday games, the cutoff is one hour prior to kickoff.
        The system then monitors the scores and game status via APIs supplied by espn.com.  One point is gained
        for each matchup won.  Each week a user can select one matchup, called the "lock", to be worth three points.
    </p>
    <p>
        Starting in the fall of 2020, I added a ninth player called who makes random picks for every matchup each week.
        That first season it finished a distant last.  So far in 2021 (as of Oct 26), it is tied for second!
    </p>

</div>
</div>

<div class="row">
<div class="col-6">
    <h5 id="techUsed">Tech Used</h5>
    <p>The technologies I used are listed below.  Note that all links will open in a new window.</p>
    <ul>
        <li><a href="https://www.djangoproject.com/" target="_blank">Django v3.2</a> for Web framework</li>
        <li><a href="https://www.python.org/" target="_blank">Python v3.9</a> for application logic</li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap v5</a> for the user interface</li>
        <li><a href="https://www.docker.com/" target="_blank">Docker</a> for all environments dev to prod</li>
        <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL v12.4</a> for the database via
            <a href="https://hub.docker.com/_/postgres" target="_blank">Docker</a></li>
        <li><a href="https://www.nginx.com/" target="_blank">Nginx</a> for the Web server via
            <a href="https://hub.docker.com/_/nginx" target="_blank">Docker</a></li>
        <li><a href="https://docs.celeryproject.org/en/stable/index.html" target="_blank">Celery v5.1</a>
            for backend automation</li>
        <li><a href="https://www.twilio.com/" target="_blank">Twilio</a> for sending SMS text messages</li>
        <li><a href="https://www.gcloud.com/" target="_blank">Google Cloud</a> for hosting prod environment</li>
        <li><a href="https://www.gitlab.com/" target="_blank">GitLab</a> for a full CI/CD pipeline</li>
        <li><a href="https://gist.github.com/akeaswaran/b48b02f1c94f873c6655e7129910fc3b"
               target="_blank">ESPN APIs</a> for live scores and other game information</li>
        <li>Numerous other Python packages</li>
    </ul>
</div>

<div class="col-6">
    <h5>Diagrams and Screen Shots</h5>
    <p>Here are a few screen shots.  Click any image to enlarge.</p>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/object_model.png" class="d-block w-100" alt="Object Model" data-bs-toggle="modal" data-bs-target="#objectModal">
      <div class="carousel-caption d-none d-md-block bg-dark mb-4">
        <h5>Object Model</h5>
        <p class="m-2">
    The core model is straightforward.  Each week there are <b>Matchups</b> between two <b>Teams</b>.
    Each <b>User</b> makes a <b>Pick</b> for each Matchup.  The win/loss totals for each
    User for each week are recorded in <b>WeeklyStats</b>.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/make_picks_small.png" class="d-block w-100" alt="Make Picks" data-bs-toggle="modal" data-bs-target="#picksModal">
      <div class="carousel-caption d-none d-md-block bg-dark m-0">
          <h5>Make Picks</h5>
          <p class="m-2">Each week Users pick against the opening line.  The system gets the current odds from ESPN and users can see how
          the spread has changed since the opening line.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/this_week.png" class="d-block w-100" alt="" data-bs-toggle="modal" data-bs-target="#weekModal">
      <div class="carousel-caption d-none d-md-block bg-dark m-0">
          <h5>Watch Progress</h5>
          <p class="m-2">Throughout the weekend the system tracks game progress and updates the scores.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/img/leaderboard.png" class="d-block w-100" alt="" data-bs-toggle="modal" data-bs-target="#leaderModal">
      <div class="carousel-caption d-none d-md-block bg-dark mb-4">
          <h5>Season Leaders</h5>
          <p class="m-2">The Leaderboard </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="objectModal" tabindex="-1" aria-labelledby="Object Model" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/static/img/object_model.png" class="img-fluid"><br><br>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="picksModal" tabindex="-1" aria-labelledby="Make Picks" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/static/img/make_picks_big.png" class="img-fluid"><br><br>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="weekModal" tabindex="-1" aria-labelledby="Watch Progress" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/static/img/this_week.png" class="img-fluid"><br><br>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="leaderModal" tabindex="-1" aria-labelledby="Season Leaderboard" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/static/img/leaderboard.png"  class="img-fluid"><br><br>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
