{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block head %}
<style>

  .pads {
    padding-right: 15px;
    vertical-align: top
  }

</style>

{% endblock %}

{% block ribbon_title %}Scorecard - {{ overall_stats.year_display }}{% endblock %}

{% block content %}
<div style="font-size: small">
    Year: 
    {% for year in year_list %}
      <a href="{{year.url}}">{{year.display}}</a>
    {% endfor %}
    <br>
    User: 
    {% for user in user_list %}
      <a href="{{user.url}}">{{user.display}}</a>
    {% endfor %}
  <br>
  Displays the top 5 winning and top 5 losing teams.  More than five are displayed
  if there is a tie for 5th.
  <br>
  <br>
</div>


{% include "pool/include_card.html" with overall_stats=overall_stats top_picks=top_picks %}


<!--
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-0 p-1">
    <div class="card h-100">
      <div class="card-body" style="font-size: small">
      </div>
    </div>
  </div>

</div>
-->


{%  endblock %}