{% extends 'core/base.html' %}
{% load static %}

{% block hero %}
<div class="jumbotron text-center m-0 p-2">
  <img class="mx-auto d-block img-fluid w-50 logo" src="/static/img/banner.svg"/>
  <h6 class="mt-2 text-muted text-uppercase" style="font-family: monospace;">
    Welcome to the College Football Pool!
  </h6>
  {% if not request.user.is_authenticated %}
    <a class="btn btn-lg btn-primary mt-3" href="/member/login/">Sign in</a>
  {% endif %}
</div>
{% endblock %}
{% block ribbon_title %}Leaderboard - {{ year }}{% endblock %}
{% block content %}

<div class="row">
  {% for stat in stats_list %}
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb-0 p-1">
    <div class="card h-100">
      <div class="card-img-wrapper">
        <img class="card-img-center" style="object-fit: cover"
             src="{{ stat.profile.image.url }}" alt="profile image for {{ stat.user.first_name }}">
      </div>
      <div class="card-body" style="font-size: small">
        <h6 class="card-title">{{ stat.user.first_name }}</h6>
        <div class="card-text">
          {% if stat.most_points %}
          <span class="text-primary" valign="center">Points: {{ stat.points }}</span><br/>
          {% if False %}
          <img src="{% static "img/smiley_face3.png" %}" height="20" width="20" /></span>
          {% endif %}
          {% elif stat.least_points %}
          <span class="text-warning">Points: {{ stat.points }}</span><br />
          {% if False %}
          <img src="{% static "img/sad_face2.png" %}" height="20" width="20" />
          {% endif %}
          {% else %}
          <span class="text-body">Points: {{ stat.points }}</span>
          {% endif %}

          {% if stat.most_locks %}
          <span class="text-primary">Locks: {{ stat.locks }}</span>
          {% if False %}
          <img src="{% static "img/smiley_face3.png" %}" height="20" width="20"/>
          {% endif %}
          {% elif stat.least_locks %}
          <span class="text-warning">Locks: {{ stat.locks }}</span>
          {% if False %}
          <img src="{% static "img/sad_face2.png" %}" height="20" width="20"/>
          {% endif %}
          {% else %}
          <span class="text-body">Locks: {{ stat.locks }}</span>
          {% endif %}
        
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
