
  <table style="font-size: small">
    <thead class="thead-light">
      <tr scope="row" bgcolor="WhiteSmoke">
        <th scope="col" colspan="3">{{overall_stats.user_name}} - {{overall_stats.year_display}}</th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row">
        <td>
          <img src="/media/{{overall_stats.profile_image}}" height="100"
            alt="profile image for {{ overall_stats.user_name }}"/>
        </td>
        <td style="vertical-align: top"> 
          Overall Stats<br>
          {{overall_stats.picks_label}} {{overall_stats.picks_display}}<br>
          {{overall_stats.locks_label}} {{overall_stats.locks_display}}
        </td>
      </tr>
        <td class="pads">
          Top Winners<br>
          {% for pick in top_picks.top_wins %}
            {% include "pool/include_espn_icon.html" with espn_id=pick.team_espn_id %}
            {{ pick.team_code }}: {{ pick.total_wins }} Ws on {{ pick.total_picks }} pks<br>
          {% endfor %}
        </td>
        <td class="pads">
          Top Losers<br>
          {% for pick in top_picks.top_losses %}
            {% include "pool/include_espn_icon.html" with espn_id=pick.team_espn_id %}
            {{ pick.team_code }}: {{ pick.total_losses }} Ls on {{ pick.total_picks}} pks<br>
          {% endfor %}
        </td>
      </tr>
    </tbody>

  </table>
