
        {# include "pool/include_icon.html" with code=matchup.home_team.code #}
        {% include "pool/include_espn_icon.html" with espn_id=team.espn_id %}
        {% if team == matchup.winner %}
            <span style="font-weight: bold">{{ team.code }}</span>
        {% else %}
            {{ team.code }}
        {% endif %}
        {% if team == matchup.favorite %}
            <span style="font-size: xx-small; font-weight: lighter">(-{{ matchup.opening_line }})</span>
        {% endif %}
        {% if team == matchup.winner %}
            <span style="font-weight: bold">{{ score }}</span>
        {% else %}
            {{ score }}
        {% endif %}