{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Season Leaderboard - {{ year }}{% endblock %}
{%  block content %}

<form action="" method="post">
  {% csrf_token %}
  <div class="col-sm-3">
      {% bootstrap_field form.year %}
  </div>
</form>

<!-- take the Typography class to work on font sizes -->

<table class="table table-sm table-responsive-sm" style="font-size: x-small">
  <thead class="thead-light">
    <tr>
      <th scope="col">Week</th>
      {% for user in user_list %}
      <th scope="col">{{ user.profile.short_name }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr scope="row">
      <td>Points</td>
      {% for total in total_points %}
      <td>{{ total }}</td>
      {% endfor %}
    </tr>
    <tr scope="row">
      <td>Locks</td>
      {% for total in total_locks %}
      <td>{{ total }}</td>
      {% endfor %}
    </tr>

    <!-- Probably want to rid the empty list entry to avoid if statement -->
    {% if stats_list|length > 1 %}
      {% for row in stats_list %}
      <tr scope="row">
        <td>{{ row.0.week }}</td>
        {% for cell in row %}
        <td>
          {% if cell.lock %}
          <span class="text-primary">{{ cell.points }}</span>
          {% else %}
          {{ cell.points }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{%  endblock %}