{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load tz %}

{% block ribbon_title %}Select Matchups for Week {{ week }}{% endblock %}
{% block content %}

<div class="alert alert-primary" role="alert" style="font-size: x-small">
Don't forget to make empty picks after creating matchups.
</div>

<div id="form_set">
  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_messages %}
    {% bootstrap_formset_errors formset %}
    {{ formset.management_form }}
    <table class="table table-sm table-striped table-responsive-sm-sm" style="font-size: x-small">
      <thead>
        <tr>
          <th scope="col">Matchup</th>
          <th scope="col">Favorite</th>
          <th scope="col">Opening Line</th>
          <th scope="col">Game Info</th>
          <th scope="col">Status</th>
          <th scope="col">Picks</th>
        </tr>
      </thead>
      {% for form in formset %}
      <tr>
        {% for hidden in form.hidden_fields %}
        {% bootstrap_field hidden %}
        {% endfor %}

        <td style="vertical-align: middle">
          {# include "pool/include_icon.html" with code=form.away_code.initial #}
          {% include "pool/include_espn_icon.html" with espn_id=form.away_espn_id.initial %}
          {{ form.away_code.initial }}
          at
          {# include "pool/include_icon.html" with code=form.home_code.initial #}
          {% include "pool/include_espn_icon.html" with espn_id=form.home_espn_id.initial %}
          {{ form.home_code.initial }}
        </td>
        <td style="vertical-align: middle">{% bootstrap_field form.favorite_choice %}</td>
        <td style="vertical-align: middle">{% bootstrap_field form.opening_line %}</td>
        <td style="vertical-align: middle">{{ form.game_info.initial }}</td>
        <td style="vertical-align: middle">{% bootstrap_field form.state %}</td>
        <td style="vertical-align: middle; horiz-align: center">{{ form.pick_count.initial }}</td>
      </tr>
      {% endfor %}
    </table>

    {% buttons %}
    <button type="submit" class="btn btn-primary" name="save">Save</button>
    <br /><br />
    <p>After all matchups are set and have all been saved,
      click the button below for the next steps. When you click, the system will:</p>
    <ul>
      <li>open up all the matchups for everyone to make their picks, and </li>
      <li>send a text to everyone to let them know the system is ready. </li>
    </ul>
    <p>You won't be able to add or update matchups after clicking. If something needs to be
      fixed, contact Kenny to fix it.</p>
    <button type="submit" class="btn btn-primary" name="finalize">Open for Picks and Send Text</button>
    {% endbuttons %}


    {{ formset.media }}
  </form>
</div>

{%  endblock %}