{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Make Picks{% endblock %}

{%  block content %}

{# https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html #}

{# if not formset.one_open #}
<!--
<div class="alert alert-danger" role="alert">
  All matchups are closed for this week.
</div>
-->
{# else #}
<div class="alert alert-primary" role="alert" style="font-size: x-small">
  Picks for weekend games can be updated until 5pm on Friday.
  Picks for weekday games can be updated up until one hour prior to kickoff.
</div>

{% if on_behalf %}
    <div class="alert alert-warning" role="alert" style="font-size: x-small">
      Making picks on behalf of {{ formset.username }}
    </div>
{% endif %}

<form action="" method="post" style="font-size: small">
  {% csrf_token %}
  {% bootstrap_messages %}
  {% bootstrap_formset_errors formset %}
  {{ formset.management_form }}

  <table class="table table-sm table-responsive-sm" style="font-size: x-small">
    <thead class="thead-light">
      <tr>
        <th scope="col">Matchup</th>
        <th scope="col">Game Info</th>
        <th scope="col">Opening Line</th>
        <th scope="col">Other Info</th>
        <th scope="col">Pick</th>
        <th scope="col">Lock</th>
      </tr>
    </thead>

    <tbody>
      {% for form in formset %}
      {% for hidden in form.hidden_fields %}
      {% bootstrap_field hidden %}
      {% endfor %}
      <tr scope="row" style="vertical-align: middle">
        <td style="vertical-align: middle">
          {% include "pool/include_espn_icon.html" with espn_id=form.away_espn_id.initial %}
          {{ form.away_code.initial }}
          at
          {% include "pool/include_espn_icon.html" with espn_id=form.home_espn_id.initial %}
          {{ form.home_code.initial }}
        </td>
        {# form.date_time_of_game.initial|date:"D g:iA" #}
        <td style="vertical-align: middle">{{ form.game_info.initial }}</td>
        <td style="vertical-align: middle">{{ form.favorite_code.initial }} -{{ form.spread.initial }}</td>
        <td style="vertical-align: middle">
            {% if form.current_spread.initial == '' %}
                Odds not available<br>
            {% else %}
                {{ form.current_spread.initial }} / {{ form.over_under.initial }}<br>
            {% endif %}
            {% if form.high_temp.initial == None %}
                Weather not available<br>
            {% else %}
                High: {{ form.high_temp.initial }}, {{ form.weather.initial }}<br>
            {% endif %}
            More at
            <a href="https://www.espn.com/college-football/game/_/gameId/{{ form.matchup_espn_id.initial }}"
               target="_blank">ESPN
               <img src="https://i.stack.imgur.com/IadAX.png" style="height: 10px; vertical-align:text-top"/></a>
        </td>
        <td style="vertical-align: middle">{% bootstrap_field form.team_choice %}</td>
        <td style="vertical-align: middle">{% bootstrap_field form.lock %}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {# if formset.0.fields|length == 0 #}
  {% if formset.one_open %}
      {% if on_behalf %}
          {% buttons %}
          <button type="submit" class="btn btn-primary"
                  name="save_on_behalf" value="{{ formset.username }}">Save on Behalf of {{ formset.username }}</button>
          {% endbuttons %}
      {% else %}
          {% buttons %}
          <button type="submit" class="btn btn-primary" name="save">Save</button>
          {% endbuttons %}
      {% endif %}
  {% endif %}
</form>
{# endif #}

{%  endblock %}