{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Pool Tools{% endblock %}
{% block content %}

{% bootstrap_messages %}
<div class='container m-1 p-2'>
  <div class='row'>
    <div class='col-sm m-1 p-2 bg-light'>
      <h5>Calc Weekly Stats</h5>
      <form action='{% url 'calc_stats' %}' method='post'>
        {% csrf_token %}
        {% bootstrap_form_errors calc_stats_form %}
        {% bootstrap_form calc_stats_form %}
        {% buttons %}
        <button type='submit' class='btn btn-primary'>Calc Weekly Stats</button>
        {% endbuttons %}
      </form>
    </div>
    <div class='col-sm m-1 p-2 bg-light'>
      <h5>Set Year/Week</h5>
      <form action='{% url 'update_config' %}' method='post'>
        {% csrf_token %}
        {% bootstrap_form_errors update_config_form %}
        {% bootstrap_form update_config_form %}
        {% buttons %}
        <button type='submit' class='btn btn-primary'>Set Year/Week</button>
        {% endbuttons %}
      </form>
    </div>
    <div class='col-sm m-1 p-2 bg-light'>
      <h5>Send Text to Group</h5>
      <form action='{% url 'send_text' %}' method='post'>
        {% csrf_token %}
        {% bootstrap_form_errors send_text_form %}
        {% bootstrap_form send_text_form %}
        {% buttons %}
        <button type='submit' class='btn btn-primary' name='generic'>Send Message</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>

{%  endblock %}