{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    <h3>Enter Scores for Week {{ week }}</h3>
    <div id="form_set">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_messages %}
        {% bootstrap_formset_errors formset %}
        {{ formset.management_form }}
        <table>
            <thead>
                <tr class="header">
                    <th class="header">Matchup</th>
                    <th class="header">Away Score</th>
                    <th class="header">Home Score</th>
                </tr>
            </thead>
            {% for form in formset %}
                {% bootstrap_form_errors form %}
                <tr>
                    {% for hidden in form.hidden_fields %}
                        {% bootstrap_field hidden %}
                    {% endfor %}
                    <td>
                        {{ form.away_code.initial }} at
                        {{ form.home_code.initial }}
                    </td>
                    <td>{% bootstrap_field form.away_score %}</td>
                    <td>{% bootstrap_field form.home_score %}</td>
                </tr>
            {% endfor %}
        </table>
        {% if formset.length > 0 %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" name="save">Save</button>
            {% endbuttons %}
        {% endif %}

        {{ formset.media }}
    </form>
    </div>
{%  endblock %}
