{% extends 'core/base.html' %}
{%  load static %}

{%  block content %}
    <h1>{{ conference }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
        </form>
        <table class="table table-sm table-borderless table-striped table-responsive-sm-sm">
        {%  for team in team_list %}
        <tr>
            <td><img
                    src="{% static "img/logos/" %}{{ team.code }}.png"
                    height="20"
                    width="20"
                    alt="{{ team.code }}">
            </td>
            <td>{{ team.code }}</td>
            <td>{{ team.name }}</td>
        </tr>
        {%  endfor %}
    </table>

{%  endblock %}