{% extends 'core/base.html' %}

{% block head %}
    {{ head|safe }}
    <style>

        table {
          position: relative;
        }

        th {

          position: sticky;
          top: 0;
        }

        #matchupsTable {
            max-height: 500px;
            overflow: auto;
        }

    </style>
{% endblock %}

{% load static %}
{% load bootstrap5 %}

{% block ribbon_title %}Picks for {{ year }} Week {{ week }}{% endblock %}
{% block content %}

<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-3">
      {% bootstrap_field form.year %}
    </div>
    <div class="col-sm-3">
      {% bootstrap_field form.week %}
    </div>
  </div>
</form>

<table class="table table-sm table-responsive-sm" style="font-size: x-small">
  <thead class="thead-light">
    <tr>
      <th scope="col">Away</th>
      <th scope="col">Home</th>
      <th scope="col">Game Info</th>
      {% for user in user_list %}
      <th scope="col">{{ user.profile.short_name }}</th>
      {% endfor %}
    </tr>
  </thead>

<div id="matchupsTable">
  <tbody>
    <tr scope="row">
      <td colspan="3" align="right">
        <p class="text-muted">Points for the week.</p>
      </td>
      {% for stat in stat_list %}
      <td align="center">{{ stat.points }}</td>
      {% endfor %}
    </tr>

    <tr scope="row">
      <td colspan="3" align="right">
        <p class="text-muted">Lock</p>
      </td>
      {% for stat in stat_list %}
      <td align="center">
          {% if stat.lock %}<img src="{% static "img/lock.png"%}" height="15" width="15"/>{% endif %}
      </td>
      {% endfor %}
    </tr>

    {%  for matchup in matchup_list %}
    <tr scope="row">
      <td valign="center">
        {% include "pool/include_team.html" with team=matchup.away_team score=matchup.away_score matchup=matchup %}
      </td>
      <td valign="center">
        {% include "pool/include_team.html" with team=matchup.home_team score=matchup.home_score matchup=matchup %}
      </td>
      <td>{{ matchup.game_info }}</td>
      {% for pick in matchup.picks.all %}
          {# TODO: make a change so this state isn't hard coded #}
          {% if pick.matchup.state == 'LOCKED' or admin_view == True %}
              <td align="center">
                {% if pick.team is not None %}
                    {% include "pool/include_espn_icon.html" with espn_id=pick.team.espn_id %}
                    {% if pick.lock %}
                        <img src="{% static "img/" %}lock.png" height="10" width="10"/>
                    {% endif %}
                {% endif %}
              </td>
          {% elif pick.matchup.state == 'COMPLETE' %}
              <td align="center">
                {% if pick.points == 3 %}
                    <span class="text-primary">{{ pick.points }}</span>
                {% else %}
                    {{ pick.points }}
                {% endif %}
                {% if pick.lock %}
                    <img src="{% static "img/lock.png"%}" height="15" width="15"/>
                {% endif %}
              </td>
          {% else %}
              <td></td>
          {% endif %}
      {% endfor   %}
      </td>
    </tr>
    {%  endfor %}
  </tbody>
</div>
</table>


{% endblock %}