<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>{%  block title %}{{ title }}{%  endblock %}</title>
    <!--             background-image: url('img/header-bg.jpg'); -->
    <style>
        header.masthead{
            text-align:center;
            color: white;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>


<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/pool/home">College Football Pool!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pool/week">This Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pool/picks">Make Picks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pool/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/member/profile">Update Profile</a>
                        <a class="dropdown-item" href="/member/password">Change Password</a>
                    </div>
                </li>
                {% if user.is_superuser or user.is_commissioner %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pool Tools</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="/pool/pool_tools">Tools</a>
                            <a class="dropdown-item" href="/admin">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="/pool/matchups">Select Matchups</a>
                        {# <a class="dropdown-item" href="/pool/scores">Enter Scores</a> #}
                    </div>
                </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Batch Runner</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/stats/batch_runner?job=load_matchups">Load Matchups</a>
                            <a class="dropdown-item" href="/stats/batch_runner?job=load_matchup&id=">Load Single Matchup</a>
                            <a class="dropdown-item" href="/stats/batch_runner?job=update_matchups">Update Matchups</a>
                            <a class="dropdown-item" href="/stats/batch_runner?job=flip_matchups">Flip Matchups</a>
                            <a class="dropdown-item" href="/stats/batch_runner?job=notify_picks">Notify Picks</a>
                            <a class="dropdown-item" href="/stats/batch_runner?job=calc_stats">Calc Stats</a>
                        </div>
                    </li>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/pool/logout">Sign Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <section class="container m-1">
    {% block content %}
    {% endblock %}
    </section>


</body>
</html>